body{
    background-image: linear-gradient(to left,#7808f0,#06bdf5);
}
h1{
    text-align: center;
}
.container{
    width: 800px;
    height: 400px;
    margin: 100px auto;
}
#top{
    margin: 7px auto;
    width: 178px;
    border-radius: 50px;
    padding: 10px;
    background-color: white;
    border: none;
    
}
input[type="button"]{
    width: 44px;
    border: none;
    border-radius: 50px;
    padding: 2px;
    font-size: 15px;
    background-color: white;
    
}
#zero{
    width: 92px;
}
form{
    
    margin: auto;
    width: 200px;
    text-align: center;
}